{% extends 'base.html' %}

{% block title %}
    {{ activity.title }}
{% endblock %}

{% block main %}
<div class="container">
    <h2 class="text-center">{{ activity.title }}</h2>
    <p>
        <small class="text-muted">{{ activity.location }}&nbsp;日期：{{ activity.date }}</small>
        {% if current_user.id == activity.uid %}
            <a class="btn btn-link btn-sm float-right" href="{{ url_for('.edit', objectId=activity._id) }}">编辑</a>
        {% else %}
            <small class="text-primary float-right">作者：{{ activity.name }}</small>
        {% endif %}
    </p>
    <hr>
    <div class="row">
        <div class="col">
            <p class="text-justify">{{ activity.content}}</p>
        </div>
    </div>
</div>
{% endblock %}