{% extends 'base.html' %}

{% block title %}
    活动安排
{% endblock %}

{% block main %}
<div class="container">
    <div class="input-group" style="padding-top: 20px;padding-bottom: 30px;">
        <h2 style="margin: auto;text-align: center">
            活动
            <small class="text-muted">(<span id="total">{{ activities | length | default(0) }}</span>)</small>
        </h2>
        <div class="tip text-center">
            <a class="btn btn-link" href="{{ url_for('.show_interface') }}">创建活动</a>
        </div>
    </div>
    <table class="table table-bordered  table-hover" id = "tab">
        <tr>
            <th>No.</th>
            <th>日期</th>
            <th>标题</th>
            <th>作者</th>
        </tr>
        {% for activity in activities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ activity.date }}</td>
                <td><a href="{{ url_for('.detail', objectId=activity._id) }}">{{ activity.title }}</a></td>
                <td>{{ activity.name }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
