{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block title %}
    {{ title }}
{% endblock %}

{% block styles %}
    <style>
        .member{
            padding:1px 10px;
            background: #e9e9e9;
            display: inline-block;
        }
    </style>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row" style="padding-top: 30px;">
        <div class="col-md-10 offset-1">
            <h2 class="text-center">{{ title }}</h2>
            <form method="post">
                {{ form.hidden_tag() }}
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ render_field(form.title) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ render_field(form.location) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ render_field(form.date, type='date') }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        {{ render_field(form.content) }}
                    </div>
                </div>
                <p>结果：</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">老师</th>
                            <th scope="col">企业</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>
                    <tbody id="results"></tbody>
                </table>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <select class="form-control" id="school" required="">
                            {% for school in schools %}
                                <option value="{{ school }}">{{ school }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" id="institution" required="">
                            {% for institution in institutions %}
                                <option value="{{ institution }}">{{ institution }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control" id="person-name" placeholder="请输入老师的名字" required="" type="text" value="">
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-link" id="add-domain" type="button" onclick="addSpan();">
                            <i class="mdui-icon material-icons">&#xe146;</i>添加
                        </button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <input class="btn btn-primary" type="button" value="提交" onclick="submitData();">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content', height=300) }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/new_activity.js')}}"></script>

{% endblock %}
