{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block title %}
    重置密码
{% endblock %}

{% block styles %}
    <style>
        .alert{text-align: center;}
        .row{margin-top: 10%;}
    </style>
{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-4 card text-dark offset-4">
                <div class="card-body">
                    <div>
                        <h2 style="text-align: left;" class="">密码重置</h2>
                        <p class="text-muted">验证码将会发送至你的注册邮箱</p>
                    </div>
                    <div>
                        <form method="post">
                            {{ form.hidden_tag() }}
                            {{ render_field(form.email, placeholder='请输入邮箱') }}
                            {{ render_field(form.submit, class="btn btn-primary btn-block") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %} {% endblock %}