{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <title>{% block title %}Base-Template{% endblock %}</title>
        <link href="https://cdn.bootcss.com/mdui/0.4.2/css/mdui.min.css" rel="stylesheet">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="../static/css/bootstrap_v4.min.css">

        <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
        {% block styles %}{% endblock %}
        <style>
            #alert-box-success,
            #alert-box-danger{
                position: fixed;
                width: 270px;
                top: 20%;
                left: 50%;
                transform: translateX(-135px);
            }
            .hidden{
                display: none;
            }
        </style>
        <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="navbar-header">
        <a class="navbar-brand thumbnail" href="#">Logo</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        {% if "username" in session %}
            <ul class="navbar-nav ml-auto">
                {{ render_nav_item('school_agent.schedule', '日程安排') }}
                {{ render_nav_item('school_agent.manage_visit_record', '拜访记录') }}
                <li>
                    <a class="nav-item nav-link {% if request.endpoint == 'school_agent.info_reminder' %}active{% endif %}"
                       href="{{ url_for('school_agent.info_reminder') }}">
                        消息提醒
                        {% if session['message_num'] != 0 %}
                            <span class="badge" style="background-color: red; color: white">{{ session['message_num'] }}</span>
                        {% endif %}
                    </a>
                </li>
                <li><a class="nav-item nav-link " >{{ session["username"] }}</a></li>
                {{ render_nav_item('school_agent.index', '个人中心') }}
                {{ render_nav_item('auth.logout', '注销') }}
            </ul>
        {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="clearfix"><a class="nav-item nav-link active float-right" href="{{ url_for('auth.login') }}"><i class="mdui-icon material-icons">&#xe7fd;</i></a></li>
            </ul>
        {% endif %}
    </div>
</nav>

<main>
    {# 消息 #}
    {% for message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ message[0] }}" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message[1] }}
    </div>
    {% endfor %}
    {% block main %}
    {% endblock %}
</main>
<div id="alert-box-success" class="alert alert-success hidden">
    <strong><i class="mdui-icon material-icons">&#xe86c;</i><span class="alert-message">提交成功，等待管理员审核</span></strong>
</div>
<div id="alert-box-danger" class="alert alert-danger hidden">
    <strong><i class="mdui-icon material-icons">&#xe000;</i><span class="alert-message">提交失败，请稍后再试</span></strong>
</div>
<footer>
    {% block footer %}
    {% endblock %}
</footer>
<script>
    /**
 * 显示/隐藏提示框
 * @param {boolean} isSuccess 
 * @param {string} modal 模态框id, 用于隐藏模态框 
 * @param {string} message 用于显示的消息
 */
function toggle_alert(isSuccess, modal, message = ""){
    if(modal){
        $(`#${modal}`).modal("hide");
    }

    let alert_success = $("#alert-box-success");
    let alert_error = $("#alert-box-danger");
    // 显示操作成功的提示框
    if(isSuccess){
        alert_error.hide();
        
        if(message){
            alert_success.find('.alert-message').text(message);
        }

        alert_success.show(200);
        setTimeout(()=>{
            alert_success.hide(200);
        }, 2000)
    }else{
        alert_success.hide();
        
        if(message){
            alert_error.find('.alert-message').text(message);
        }

        alert_error.show(200);
        setTimeout(()=>{
            alert_error.hide(200);
        },2000);
    }
}
</script>
{% block scripts %}
{% endblock %}
</body>
</html>
