<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <title>{% block title %}Base-Template{% endblock %}</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="../static/css/bootsrap_v4.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
        {% block styles %}{% endblock %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="navbar-header">
        <a class="navbar-brand thumbnail" href="#">Logo</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        {% if username %}
            <ul class="navbar-nav ml-auto">
                <li><a class="nav-item nav-link " href="#">日程安排</a></li>
                <li><a class="nav-item nav-link " href="#">拜访记录</a></li>
                <li><a class="nav-item nav-link " href="#">消息提醒 <span class="badge" style="background-color: red; color: white">7</span></a></li>
                <li><a class="nav-item nav-link " >{{ username }}</a></li>
                <li><a class="nav-item nav-link active" >个人中心</a></li>
                <li><a class="nav-item nav-link " href="#">注销</a></li>
            </ul>
        {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="clearfix"><a class="nav-item nav-link active float-right" href="#">注册</a></li>
                <li class="clearfix"><a class="nav-item nav-link active float-right" href="#">登录</a></li>
            </ul>
        {% endif %}
    </div>
</nav>

<main>
    {% block main %}
    {% endblock %}
</main>

<footer>
    {% block footer %}
    {% endblock %}
</footer>
{% block scripts %}
{% endblock %}
</body>
</html>
