{% extends 'user_info_base.html' %}

{% block title %}
    用户修改密码
{% endblock %}

{% block styles %}
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <style type="text/css">
        .card-body{
            margin-top: 10%;
        }
        .input-group flex-nowrap{
            width: 180%;
        }
    </style>
{% endblock %}


{% block supply %}

    <div class="container">
        <div class="row" style="padding-top: 30px;">
            <div class="col-sm-8 card bg-light text-dark offset-2">
                <div class="card-body">
                    <div>
                        <h1 style="text-align: center" class="text-primary">修改密码</h1>
                    </div>
                    <div class="modal-body">
                        <form id="input_pwd">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" id="csrf_token">
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text " id="addon-wrapping">请输入原密码</span>
                                </div>
                                <input type="password" id="old_pwd" class="form-control mod" placeholder="" aria-describedby="addon-wrapping">
                            </div>
                            <br>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text "  id="addon-wrapping">请输入新密码</span>
                                </div>
                                <input type="password" id="new_pwd" class="form-control mod" placeholder="" aria-describedby="addon-wrapping">
                            </div>
                            <br>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"  id="addon-wrapping">请确认新密码</span>
                                </div>
                                <input type="password" id="second_new_pwd" class="form-control mod" placeholder="" aria-describedby="addon-wrapping">
                            </div>
                        </form>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary preservation" onclick="save_change_pwd($(this))">保存</button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/setting.js') }}"></script>
{% endblock %}