{% extends 'base.html' %}

{% block title %}
    用户修改密码
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="list-group col-sm-3">
            <a href="{{ url_for('school_agent.setting') }}" class="list-group-item list-group-item-action">基本信息</a>
            <a href="{{ url_for('school_agent.change_pwd') }}" class="list-group-item list-group-item-action">修改密码</a>
        </div>
        <div class="col-sm-4 card bg-light text-dark offset-2">
            <div class="card-body">
                <h1 style="text-align: center" class="text-primary">修改密码</h1>
                <form id="input_pwd">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" id="csrf_token">
                    <div class="form-group row">
                        <div class="col">
                            <input type="password" id="old_pwd" class="form-control" placeholder="请输入原密码" aria-describedby="addon-wrapping">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <input type="password" id="new_pwd" class="form-control mod" placeholder="请输入新密码" aria-describedby="addon-wrapping">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <input type="password" id="second_new_pwd" class="form-control mod" placeholder="请再次输入新密码" aria-describedby="addon-wrapping">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary preservation" onclick="save_change_pwd($(this))">保存</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/setting.js') }}"></script>
{% endblock %}