{% extends 'base.html' %}

{% block title %}
    消息提醒
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="../static/css/bootstrap_v4.min.css">
    <link rel="stylesheet" href="../static/css/autocomplete.css">
{% endblock %}

{% block main %}
<div class="container">
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-10">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a href="#unread-list" class="nav-link active" data-toggle="tab">
                        <i class="glyphicon glyphicon-tasks"></i>
                        未读消息({{ unchecked_message | length }})
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#read-list" class="nav-link" data-toggle="tab">
                        <i class="glyphicon glyphicon-hdd"></i>
                        已读消息({{ checked_message | length }})
                    </a>
                </li>
            </ul>
            <div class="tab-content" style="padding-top: 20px;">
                <div class="tab-pane fade in active show" id="unread-list">
                    <ul class="list-group">
                        {% for message in unchecked_message %}
                            <li class="list-group-item list-group-item-action flex-column">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="text-primary mb-1">{{ message['from_name'] }}</h5>
                                    <small class="float-right">{{ message['date'] }}</small>
                                </div>
                                <p class="mb-1">{{ message['detail'] }}</p>
                                <div class="float-right">
                                    <a class="btn btn-light btn-sm" data-name="{{ message['from_name'] }}"
                                       onclick="showModal($(this));">回复</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane fade in" id="read-list">
                    <ul class="list-group">
                        {% for message in checked_message %}
                            <li class="list-group-item list-group-item-action flex-column">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="text-primary mb-1">{{ message['from_name'] }}</h5>
                                    <small class="float-right">{{ message['date'] }}</small>
                                </div>
                                <p class="mb-1">{{ message['detail'] }}</p>
                                <div class="float-right">
                                    <a class="btn btn-light btn-sm" data-name="{{ message['from_name'] }}"
                                       onclick="showModal($(this));">回复</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <button id="new-schedule" type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#scheduleModal">
                <i class="mdui-icon material-icons">&#xe3c9;</i>发送消息
            </button>
        </div>
    </div>
</div>

    <!-- 模态框 -->
  <div class="modal fade" id="scheduleModal" >
    <div class="modal-dialog" >
      <div class="modal-content">

        <!-- 模态框主体 -->
        <div class="modal-body">
            <form autocomplete="off">
                <input type="hidden" value="{{ csrf_token() }}" id="csrf_token">
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text">接受者</span>
                    </div>
                    <input id="receiver" name="receiver" class="form-control mod"  type="text">
                </div>
                <br>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">详细内容</span>
                    </div>
                    <textarea name="content" id="content" class="form-control mod" aria-label="With textarea" rows="6"></textarea>
                </div>
            </form>

        </div>

        <!-- 模态框底部 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-info" id="send_message">发送</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>

      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
    <script src="../static/js/bootstrap_v4.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="../static/js/autocomplete.js"></script>
    <script src="../static/js/message.js"></script>
{% endblock %}