{% extends 'base.html' %}

{% block title %}
    消息提醒
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="../static/css/bootstrap_v4.min.css">
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
{% endblock %}

{% block main %}

   <div class="container" style="margin: 20px auto;">
        <div class="row">
            <button id="new-schedule" type="button" class="btn btn-primary ml-auto" data-toggle="modal" data-target="#scheduleModal"><i class="mdui-icon material-icons">&#xe3c9;</i>发送消息</button>
        </div>
        {% if unchecked_message|length > 0 %}
        <h3>未读信息：</h3>
        {% endif %}
        {% for message in unchecked_message %}
            <div class="alert alert-primary">
                <strong>{{ message['date'] }}<br></strong>
                <strong>{{ message['from_name'] }}：{{ message['detail'] }}</strong>
            </div>
        {% endfor %}

        {% if checked_message|length > 0 %}
        <h3>已读信息：</h3>
        {% endif %}
        {% for i in checked_message %}
            <div class="alert alert-secondary">
                <strong>{{ i['date'] }}<br></strong>
                <strong>{{ i['from_name'] }}：{{ i['detail'] }}</strong>
            </div>
        {% endfor %}
   </div>

    <!-- 模态框 -->
  <div class="modal fade" id="scheduleModal" >
    <div class="modal-dialog" >
      <div class="modal-content">

        <!-- 模态框主体 -->
        <div class="modal-body">
            <form>
                <input type="hidden" value="{{ csrf_token() }}" id="csrf_token">
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text">接受者</span>
                    </div>
                    <input id="receiver" name="receiver" class="form-control mod"  type="text">
                </div>
                <br>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">详细内容</span>
                    </div>
                    <textarea name="content" id="content" class="form-control mod" aria-label="With textarea" rows="6"></textarea>
                </div>
            </form>

        </div>

        <!-- 模态框底部 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-info" id="send_message">发送</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>

      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
    <script src="../static/js/bootstrap_v4.min.js"></script>
    <script src="../static/js/message.js"></script>
{% endblock %}