{% extends 'base.html' %}
{% block title %}
    个人中心-专家检索
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/personal.css">
{% endblock %}

{% block main %}
    <div id="container"></div>
    <div class="container-fluid">
        <div class="ml-3 mr-2 mt-3">
            <select id="select-college">
                {% for school in schools %}
                    <option>{{ school }}</option>
                {% endfor %}
            </select>
            <select id="select-institution" class="ml-3">
                <option data-type="all">——全部——</option>
                {% for institution in institutions %}
                    <option>{{ institution }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-default float-right" onclick="showTree()">行政关系</button>
            <button class="btn btn-primary mr-3 float-right" onclick="showGraph()">学术关系</button>
            <button class="btn btn-primary mr-3 float-right hidden" id="toggle-node-btn">显示/隐藏非核心节点</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="../static/js/bootstrap_v4.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <script src="../static/js/echarts_graph.js"></script>
    <script src="../static/js/personal.js"></script>
    <script>
        {% if schools | length > 0 %}
            SCHOOL_NAME= "{{ schools[0] }}";
            getSchoolGraphData(SCHOOL_NAME);
        {% endif %}

    </script>
{% endblock %}

