{% extends 'base.html' %}
{% block title %}
    个人中心-专家检索
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/personal.css">
{% endblock %}

{% block main %}
    <div id="container"></div>
    <div class="container-fluid">
        <div class="ml-3 mr-2 mt-3">
            <select id="select-college">
                {% for school in schools %}
                    <option>{{ school }}</option>
                {% endfor %}
            </select>
            <select id="select-institution" class="ml-3">
                {% for institution in institutions %}
                    <option>{{ institution.name }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-default float-right" onclick="showTree()">行政关系</button>
            <button class="btn btn-primary mr-3 float-right" onclick="showGraph()">学术关系</button>
        </div>

        <div id="visited-record" class="float-right mt-3 mr-3">

            <ul class="list-group ">
                <li class="list-group-item"><b class="lead">拜访记录</b></li>
                <li class="list-group-item"><a href="#"><span class="lead"> 张老三 </span> 院长 2019-5-13</a></li>
                <li class="list-group-item"><a href="#"> <span class="lead"> 李老四 </span> 教授 2019-5-12</a></li>
                <li class="list-group-item"><a href="#"><span class="lead"> 王老五 </span> 副院长 2019-5-11</a></li>
                <li class="list-group-item"><a href="#"><span class="lead"> 张老三 </span> 办公室主任 2019-5-10</a></li>
                <li class="list-group-item"><a href="#"><span class="lead"> 李老四 </span> 院长 2019-5-9</a></li>
                <li class="list-group-item"><a href="#"><span class="lead"> 王老五 </span> 院长 2019-5-8</a></li>
                <li class="list-group-item clearfix"><a href="#" class="float-right">查看更多 > </a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="../static/js/bootstrap_v4.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <script src="../static/js/echarts_graph.js"></script>
{% endblock %}

