{% extends 'base.html' %}
{% block title %}
    个人中心-专家检索
{% endblock %}

{% block styles %}
    <style type="text/css">
      .row{
        padding: 20px 0 0 0;
      }
      .container{
        padding-left: 0!important;
      }
      .card{
        margin: 0 0 15px 15px;
        width: calc(25% - 15px);
        
      }
      .card:hover{
        -webkit-box-shadow: 4px 4px 8px 2px rgba(20, 20, 20, 0.15);
        -moz-box-shadow: 4px 4px 8px 2px rgba(20, 20, 20, 0.15);
        box-shadow: 4px 4px 8px 2px rgba(20, 20, 20, 0.15);
      }
      .schedule-detail{
          line-height: 1.6rem;
          margin-bottom: 30px;
      }
      .create-time{
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
   </style>
    
{% endblock %}

{% block main %}  
  <!-- 日程安排卡片 -->
  <div class="container">
    <div class="row">
        <button id="new-schedule" type="button" class="btn btn-primary ml-auto" data-target="#myModal"><i class="mdui-icon material-icons">&#xe148;</i>新建日程</button>
    </div>
    <div class="row" id="card-list">

        {% for schedule in schedule_list  %}

            {% if schedule["status"] == 0 %}
                <div class="card">
                  <div class="card-body">
                    <button type="button" class="close" data-toggle="modal"><span aria-hidden="true"><i class="editor mdui-icon material-icons">&#xe3c9;</i></span></button>
                    <h5 class="card-title" data-id="{{schedule['_id'] | string}}">{{ schedule["remind_date"] }}</h5>
                    <p class="card-text schedule-detail">{{ schedule["content"] | safe}}</p>
                    <small class="create-time">创建于{{ schedule["create_date"] }}</small>
                  </div>
                </div>
            {% endif %}

        {% endfor %}

    </div>
  </div>
  
  
  <!-- 模态框 -->
  <div class="modal fade" id="scheduleModal" >
    <div class="modal-dialog" >
      <div class="modal-content">

        <!-- 模态框主体 -->
        <div class="modal-body">
            <form id="form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" id="csrf_token">
                <input type="hidden" id="schedule-id" name="id" value="2">
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text">提醒时间</span>
                    </div>
                    <input id="remind_date" class="form-control mod"  type="date" name="date">
                </div>
                <br>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">详细内容</span>
                    </div>
                    <textarea name="content" id="content" class="form-control mod" aria-label="With textarea" rows="6"></textarea>
                </div>
            </form>

        </div>

        <!-- 模态框底部 -->
        <div class="modal-footer">
          <span class="mr-auto">
            <button class="btn btn-danger operate-schedule" data-type="0">取消安排</button>
            <button class="btn btn-success mr-auto operate-schedule" data-type="1">已完成</button>
          </span>
          <button type="button" class="btn btn-info" id="save-schedule" >提交内容</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>

      </div>
    </div>
  </div>
  {% endblock %}
  {% block scripts %}
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="../static/js/bootstrap_v4.min.js"></script>
    <script src="../static/js/schedule.js"></script>
{% endblock %}

