{% extends 'base.html' %}

{% block title %}
    拜访记录
{% endblock %}

{% block styles %}
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../static/css/autocomplete.css">
    <style type="text/css">
        .form-group input{
            width: 300px;
            height: 45px;
            font-size: 23px;
        }
        .form-group textarea{
            height: 200px;
            width: 600px;
            font-size: 23px;
        }
        #add-new-record{
            text-align: center;
            cursor: pointer;
        }
        #add-new-record:hover{
            color:#007bff;
        }
    </style>
{% endblock %}

{% block main %}
<div class="container">
    <div class="input-group">
        <h2 style="margin: auto;text-align: center">
            拜访记录
            <small class="text-muted" id="total">{{ visited_records | length }}</small>
        </h2>
    </div>
    <div>
        <form class="form form-inline">

            <div class="input-group float-right h3 ml-auto">
                <input id="search-name-input" type="text" class="form-control" placeholder="搜索拜访记录">
                <button class="btn btn-primary">搜索</button>
            </div>
        </form>
    </div>
    <table class="table table-bordered  table-hover" id = "tab">
        <tr>
            <th>No.</th>
            <th>日期</th>
            <th>标题</th>
            <th>学校</th>
            <th>学院</th>
            <th>教师</th>
            <th>编辑</th>
        </tr>
        {% for record in visited_records %}
        <tr>
                <td>{{ loop.index }}</td>
                <td>{{ record.date }}</td>
                <td><a data-toggle="modal" data-target="#exampleModal">{{ record.title }}</a></td>
                <td>{{ record.school }}</td>
                <td>{{ record.institution }}</td>
                <td>{{ record.teacher }}</td>
                <td class="operation">
                    <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal" onclick="fillModal($(this));">修改</button>
                    <form style="display: inline">
                        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" id="identifier" name="id" value="{{ record._id }}">
                        <button class="btn btn-danger" type="button" onclick="deleteRecord($(this));">删除</button>
                    </form>
                    <input type="hidden" id="detail" value="{{ record.content }}">
                </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="7" id="add-new-record" data-toggle="modal" data-target="#exampleModal" onclick="wantToNewRecord($(this));"> +添加新纪录 </td>
        </tr>
    </table>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" id="csrf_token">
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text " id="addon-wrapping">日期</span>
                            </div>
                            <input id="date" class="form-control mod"  type="date" name="date">
                        </div>
                        <br>
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text "  id="addon-wrapping">标题</span>
                            </div>
                            <input type="text" id="title" class="form-control mod" placeholder="" aria-describedby="addon-wrapping">
                        </div>
                        <br>
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text"  id="addon-wrapping">学校</span>
                            </div>
                            <input type="text" name="school" id="school" class="form-control mod" placeholder="" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                        <br>
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addon-wrapping">学院</span>
                            </div>
                            <input type="text" name="institution" id="institution" class="form-control mod" placeholder="" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                        <br>
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addon-wrapping">教师</span>
                            </div>
                            <input type="text" name="teacher" id="teacher" class="form-control mod" placeholder="" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">内容</span>
                            </div>
                            <textarea name="content" rows="6" id="content" class="form-control mod" aria-label="With textarea"></textarea>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary preservation" onclick="saveVisitedRecord($(this))">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="../static/js/visit_record.js"></script>

    <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
{% endblock %}
