{% extends 'base.html' %}

{% block title %}
    专家信息
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/detail.css')}}">
{% endblock %}

{% block main %}
    <div class="container">
        <fieldset class="card-mine">
            <legend>基本信息</legend>
            <a href="{{ url_for('scholar.feedback', tid=teacher['id'], next=request.full_path) }}" target="_self">
                <i title="编辑" class="editor mdui-icon material-icons">&#xe3c9;</i>
            </a>
            <div id="basic-info" class="row">
                <div class="img-container col-sm-3 col-md-2 align-middle">
                    <div id="img-name" class="bg-primary align-middle">{{ teacher["name"][0] }}</div>
                </div>
                <div class="col-sm-9 col-md-10">
                    <div class="scholar-name"> <strong> <a href="#" > {{ teacher["name"] }} </a>  </strong> </div>
                    <div class="scholar-depart">{{ teacher["school"] }} - {{ teacher["institution"] }}</div>
                    <div class="scholar-depart half">邮箱： {{ teacher["email"] }}</div>
                    <div class="scholar-depart half">手机： {{ teacher["phone_number"] }}</div>
                    <div class="scholar-depart half">办公室电话： {{ teacher["office_number"] }}</div>
                    <div class="scholar-tags">

                        {% if 'age' in teacher %}
                            <span>{{ teacher['age'] }}岁</span>
                        {% endif %}

                        {% for honor in teacher["honor_title"] %}
                            <span title="{{ honor['year'] }}年获得">
                                {{ honor["type"] }}
                            </span>
                        {% endfor %}
                        {% if teacher["title"] %}
                            <span>{{ teacher["title"] }}</span>
                        {% endif %}

                        {% if teacher["positioin"] %}
                            <span>{{ teacher["positioin"] }}</span>
                        {% endif %}

                        {% if teacher["other_title"] | length > 1 %}
                            <span>{{ teacher["other_title"] }}</span>
                        {% endif %}
                    </div>
                    {% if teacher["domain"] %}
                        <div class="scholar-tags">
                            <strong>研究领域：</strong>
                            {% for item in teacher['domain'] %}
                                <span>{{ item }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </fieldset>

        <fieldset id="edu-exp" class="row card-mine">
            <legend>教育经历</legend>
            {% if teacher["edu_exp"] %}
                <p>{{ teacher["edu_exp"] }}</p>
            {% endif %}
        </fieldset>

        <fieldset id="work-exp" class="row card-mine">
            <legend>工作经历</legend>
            {% if teacher["work_exp"] %}
                <p>{{ teacher["work_exp"] }}</p>
            {% endif %}
        </fieldset>

        {% if teacher["awards"] %}
            <fieldset id="award-info" class="row card-mine">
                <legend>获奖情况</legend>
                <ul class="tab-pane">
                    {% for award in teacher['awards'] %}
                        <li title="获奖编号：{{ award['code'] }}">
                            <span>{{ award["year"] }}年</span>
                            <span>凭借“{{ award["project_name"] }}”项目</span>
                            <span>荣获 {{ award["type"] }} {{ award["level"] }} 等奖 </span>
                            <span>参与人员: {{ award["team_member"] }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </fieldset>
        {% endif %}

        {% if visit_list %}
            <fieldset id="visited-info" class="row card-mine">
                <legend>拜访记录</legend>
                <table class="table table-hover">
                    <tbody>
                        {% for visit in visit_list %}
                            <tr>
                                <td style="width: 120px">{{ visit["date"] }}</td>
                                <td>{{ visit["title"] }}</td>
                                <td>{{ visit["content"] | truncate(50) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        {% endif %}
         <!-- <fieldset id="team-info" class="row card-mine">
            <legend>团队信息</legend>

        </fieldset> -->

        <fieldset id="achieve-info" class="row card-mine">
            <legend>学术成果</legend>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a href="#project-list" class="nav-link active" data-toggle="tab">
                        <i class="glyphicon glyphicon-tasks"></i> 科研项目
                        ({% if 'funds' in teacher %}{{ teacher['funds'] | length }}{% else %}0{% endif %})
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#patent-list" class="nav-link" data-toggle="tab">
                        <i class="glyphicon glyphicon-hdd"></i> 发明专利
                        ({% if 'patents' in teacher %}{{ teacher['patents'] | length }}{% else %}0{% endif %})
                    </a>
                </li>
                <li class="nav-item" >
                    <a href="#paper-list" class="nav-link" data-toggle="tab">
                        <i class="glyphicon glyphicon-book"></i> 论文成果
                        ({% if 'papers' in teacher %}{{ teacher['papers'] | length }}{% else %}0{% endif %})
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <ul class="tab-pane fade in active show" id="project-list">
                    {% if "funds" in teacher %}
                        {% for fund in teacher["funds"] %}
                            <li>
                                <div class="d-inline">
                                    <i class="glyphicon glyphicon-tasks"></i> {{ fund["title"] }}</div>
                                <div class="d-inline">
                                    <span>{{ fund["belong"] }}</span>
                                    <span>资金:{{ fund["money"] }}万元</span>
                                    <span>起始年份:{{ fund["year"] }}年</span>
                                    <span>项目周期:4年</span>
                                    <span>负责人:{{ fund["name"] }}</span>
                                </div>
                            </li>
                            {% endfor %}
                        {% endif %}
                </ul>
                <ul class="tab-pane fade in" id="patent-list">
                    {% if "patents" in teacher %}
                        {% for patent in teacher["patents"] %}
                            <li>
                                <div class="d-inline">
                                    <i class="glyphicon glyphicon-hdd"></i> {{ patent["title"] }}&nbsp;
                                </div>
                                <div class="d-inline">
                                    <span>申报单位: {{ patent["proposer"] }}</span>
                                    <span>{{ patent["date"]}}</span>
                                    <span>作者: {{ patent["author_list"] }}</span><br>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <ul class="tab-pane fade in" id="paper-list">
                     {% if "papers" in teacher %}
                        {% for paper in teacher["papers"] %}
                            <li>
                                <div class="d-inline">
                                    <i class="glyphicon glyphicon-book"></i> 《{{ paper["name"] }}》
                                </div>
                                <div class="d-inline">
                                    <span>{{ paper["year"] }} </span>
                                    <span>发表自《{{ paper["org"] }}》</span>
                                    <span>引用次数：{{ paper["cited_num"] }}</span>
                                    <span>作者:  {{ paper["author"] }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </fieldset>

    </div>

{% endblock %}