{% extends 'base.html' %}

{% block title %}
    专家信息
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/detail.css')}}">
{% endblock %}

{% block main %}
    <div class="container">
        <fieldset class="card-mine">
            <legend>基本信息</legend>
            <a href="{{ url_for('scholar.feedback', tid=teacher_basic_info['id'], next=request.full_path) }}" target="_self">
                <i title="编辑" class="editor mdui-icon material-icons">&#xe3c9;</i>
            </a>
            <div id="basic-info" class="row">
                <div class="img-container col-sm-3 col-md-2 align-middle">
                    <div id="img-name" class="bg-primary align-middle">{{ teacher_basic_info["name"][0] }}</div>
                </div>
                <div class="col-sm-9 col-md-10">
                    <div class="scholar-name"> <strong> <a href="#" > {{ teacher_basic_info["name"] }} </a>  </strong> </div>
                    <div class="scholar-depart">{{ teacher_basic_info["school"] }} - {{ teacher_basic_info["institution"] }}</div>
                    <div class="scholar-depart half">邮箱： {{ teacher_basic_info["email"] }}</div>
                    <div class="scholar-depart half">手机： {{ teacher_basic_info["phone_number"] }}</div>
                    <div class="scholar-depart half">办公室电话： {{ teacher_basic_info["office_number"] }}</div>
                    <div class="scholar-tags">
                        {% if teacher_basic_info["other_title"] %}
                        <span>{{ teacher_basic_info["other_title"] }}</span>
                        {% endif %}

                        {% if age != " " %}
                            <span>{{ age }}岁</span>
                        {% endif %}
                        {#<span>某重点实验室主任</span>#}

                            {% for honor in teacher_basic_info["honor"] %}
                                <span title="{{ honor['year'] }}获得">
                                    {{ honor["type"] }}
                                </span>
                            {% endfor %}

                        <span>{{ teacher_basic_info["title"] }}</span>
                    </div>
                    {% if teacher_basic_info["domain"] %}
                        <div class="scholar-tags">
                            <strong>研究领域：</strong>
                            {% for item in teacher_basic_info['domain'] %}
                                <span>{{ item }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </fieldset>

        <fieldset id="edu-exp" class="row card-mine">
            <legend>教育经历</legend>
            <p>{{ teacher_basic_info["edu_exp"] }}</p>

        </fieldset>

        <fieldset id="team-info" class="row card-mine">
            <legend>团队信息</legend>

        </fieldset>

        <fieldset id="achieve-info" class="row card-mine">
            <legend>学术成果</legend>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a href="#project-list" class="nav-link active" data-toggle="tab">
                        <i class="glyphicon glyphicon-tasks"></i> 科研项目({{ length[0] }} )
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#patent-list" class="nav-link" data-toggle="tab">
                        <i class="glyphicon glyphicon-hdd"></i> 发明专利({{ length[1] }} )

                    </a>
                </li>
                <li class="nav-item" >
                    <a href="#paper-list" class="nav-link" data-toggle="tab">
                        <i class="glyphicon glyphicon-book"></i> 论文成果(1)
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <ul class="tab-pane fade in active show" id="project-list">
                    {% if "funds" in teacher_basic_info %}
                        {% for fund in teacher_basic_info["funds"] %}
                            <li>
                                <div class="d-inline">
                                    <i class="glyphicon glyphicon-tasks"></i> {{ fund["title"] }}</div>
                                <div class="d-inline">
                                    <span>{{ fund["belong"] }}</span>
                                    <span>资金：{{ fund["money"] }}万元</span>
                                    <span>项目周期：4年</span>
                                    <span>{{ fund["year"] }}</span>
                                    <span>负责人：{{ fund["name"] }}</span><br>
                                </div>
                            </li>
                            {% endfor %}
                        {% endif %}
                </ul>
                <ul class="tab-pane fade in" id="patent-list">
                    {% if "patent" in teacher_basic_info %}
                        {% for patent in teacher_basic_info["patent"] %}
                            <li>
                                <div class="d-inline">
                                    <i class="glyphicon glyphicon-hdd"></i> {{ patent["title"] }}
                                </div>
                                <div class="d-inline">
                                    <span>申报单位： {{ patent["proposer"] }}</span>
                                    <span>{{ patent["date"]}}</span>
                                    <span>作者: {{ patent["author_list"] }}</span><br>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <ul class="tab-pane fade in" id="paper-list">
                    <li>
                        <!-- <div class="d-inline">
                            <i class="glyphicon glyphicon-book"></i> 《基于因果发现的神经网络集成方法》
                        </div>
                        <div class="d-inline">
                            <span>2018/6月 </span>
                            <span>发表自《软件学报》</span>
                            <span>引用次数：30</span>
                            <span>作者:  凌锦江 周志华</span>
                        </div> -->
                    </li>
                </ul>
            </div>
        </fieldset>

    </div>

{% endblock %}