{% extends 'base.html' %}

{% block title %}
    专家信息
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/detail.css')}}">
{% endblock %}

{% block main %}
    <div class="container">
        <fieldset class="card-mine">
            <legend>基本信息</legend>
            <a href="{{ url_for('scholar.feedback_get', teacher_id=teacher['id'], next=request.full_path) }}" target="_self">
                <i title="编辑" class="editor mdui-icon material-icons">&#xe3c9;</i>
            </a>
            <div id="basic-info" class="row">
                <div class="img-container col-sm-3 col-md-2 align-middle">
                    <div id="img-name" class="bg-primary align-middle">{{ teacher["name"][0] }}</div>
                </div>
                <div class="col-sm-9 col-md-10">
                    <div class="scholar-name"> <strong> <a href="#" > {{ teacher["name"] }} </a>  </strong> </div>
                    <div class="scholar-depart">
                        {{ teacher["school"] }} - {{ teacher["institution"] }}
                        {% if teacher["department"] %}
                            -{{ teacher["department"] }}
                        {% endif %}
                    </div>
                    {% if teacher["email"] %}
                        <div class="scholar-depart half">邮箱： {{ teacher["email"] }}</div>
                    {% endif %}
                    
                    {% if teacher["phone_number"] %}
                        <div class="scholar-depart half">手机： {{ teacher["phone_number"] }}</div>
                    {% endif %}

                    {% if teacher["office_number"] %}
                        <div class="scholar-depart half">办公室电话： {{ teacher["office_number"] }}</div>
                    {% endif %}

                    <div class="scholar-tags">
                        <strong>标签：</strong>
                        {% if 'age' in teacher %}
                            <span>{{ teacher['age'] }}岁</span>
                        {% endif %}

                        {% for honor in teacher["honor_title"] %}
                            <span title="{{ honor['year'] }}年获得">
                                {{ honor["type"] }}
                            </span>
                        {% endfor %}
                        {% if teacher["title"] %}
                            <span>{{ teacher["title"] }}</span>
                        {% endif %}

                        {% if teacher["positioin"] %}
                            <span>{{ teacher["positioin"] }}</span>
                        {% endif %}

                        {% if teacher["other_title"] | length > 1 %}
                        <span>{{ teacher["other_title"] }}</span>
                        {% endif %}
                    </div>
                    
                    {% if teacher["domain"] | length > 1 %}
                        <div class="scholar-tags">
                            <strong>研究领域：</strong>
                            {% for item in teacher['domain'] %}
                                <span>{{ item }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </fieldset>

        {% if teacher["edu_exp"] %}
            <fieldset id="edu-exp" class="row card-mine">
                <legend>教育经历</legend>
                <p>{{ teacher["edu_exp"] | safe }}</p>
            </fieldset>
        {% endif %}

        {% if teacher["work_exp"] %}
            <fieldset id="work-exp" class="row card-mine">
                <legend>工作经历</legend>
                <p>{{ teacher["work_exp"] | safe }}</p>
            </fieldset>
        {% endif %}

        {% if teacher["awards"] %}
            <fieldset id="award-info" class="row card-mine">
                <legend>获奖情况</legend>
                <ul class="tab-pane">
                    {% for award in teacher['awards'] %}
                        <li title="获奖编号：{{ award['code'] }}">
                            <span>{{ award["year"] }}年</span>
                            <span>凭借“{{ award["project_name"] }}”项目</span>
                            <span>荣获 {{ award["type"] }} {{ award["level"] }} 等奖 </span>
                            <span>参与人员: {{ award["team_member"] }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </fieldset>
        {% endif %}

        {% if visit_list %}
            <fieldset id="visited-info" class="row card-mine">
                <legend>拜访记录</legend>
                <table class="table table-hover">
                    <tbody>
                        {% for visit in visit_list %}
                            <tr>
                                <td style="width: 120px">{{ visit["date"] }}</td>
                                <td>{{ visit["title"] }}</td>
                                <td>{{ visit["content"] | truncate(36) | replace("<br>", " ") }}</td>
                                <td>{{ visit["user_name"]}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        {% endif %}
         <!-- <fieldset id="team-info" class="row card-mine">
            <legend>团队信息</legend>

        </fieldset> -->

        <fieldset id="achieve-info" class="row card-mine">
            <legend>学术成果</legend>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item" >
                    <a href="#paper-list" class="nav-link active" data-toggle="tab">
                        <i class="glyphicon glyphicon-book"></i> 论文成果
                        ({% if 'papers' in teacher %}{{ teacher['papers'] | length }}{% else %}0{% endif %})
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#project-list" class="nav-link" data-toggle="tab">
                        <i class="glyphicon glyphicon-tasks"></i> 科研项目
                        ({% if 'projects' in teacher %}{{ teacher['projects'] | length }}{% else %}0{% endif %})
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#patent-list" class="nav-link" data-toggle="tab">
                        <i class="glyphicon glyphicon-hdd"></i> 发明专利
                        ({% if 'patents' in teacher %}{{ teacher['patents'] | length }}{% else %}0{% endif %})
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <ul class="tab-pane fade in active show" id="paper-list">
                     {% if "papers" in teacher %}
                        {% for paper in teacher["papers"] %}
                            <li>
                                <div class="d-inline">
                                    <i class="glyphicon glyphicon-book"></i> 《{{ paper["name"] }}》
                                </div>
                                <div class="d-inline">
                                    <span>{{ paper["year"] }}年 </span>
                                    <span>发表自《{{ paper["org"] }}》</span>
                                    <span>引用次数：{{ paper["cited_num"] }}</span>
                                    <span>作者:  {{ paper["author"] }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <ul class="tab-pane fade in" id="project-list">
                    {% if "projects" in teacher %}
                        {% for project in teacher["projects"] %}
                            <li>
                                <div class="d-inline">
                                    <i class="glyphicon glyphicon-tasks"></i> {{ project["project_name"] }}</div>
                                <div class="d-inline">
                                    <span>
                                        {% if project["type"] == 1 %}
                                            自然科学基金
                                        {% elif project["type"] == 2 %}
                                            国家重点研发计划
                                        {% endif %}
                                    </span>
                                    <span>{{ project["belong"] }}</span>
                                    <span>{{ project["content"] }}</span>
                                    <span>{{ project["money"] }}万元</span>
                                    <span>{{ project["start_time"] }}年</span>
                                    <span>
                                        {% if project["cycle"]%}
                                            项目周期:{{ project["cycle"] }}年
                                        {% elif project["end_time"] %}
                                            - {{ project["end_time"] }}年
                                        {% endif %}
                                    </span>
                                    <span>负责人:{{ project["name"] }}</span>
                                </div>
                            </li>
                            {% endfor %}
                        {% endif %}
                </ul>
                <ul class="tab-pane fade in" id="patent-list">
                    {% if "patents" in teacher %}
                        {% for patent in teacher["patents"] %}
                            <li>
                                <div class="d-inline">
                                    <i class="glyphicon glyphicon-hdd"></i> {{ patent["title"] }}&nbsp;
                                </div>
                                <div class="d-inline">
                                    <span>申报单位: {{ patent["proposer"] }}</span>
                                    <span>{{ patent["date"]}}</span>
                                    <span>发明人: {{ patent["author_list"] }}</span><br>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>

            </div>
        </fieldset>


        <fieldset id="achieve-info" class="row card-mine">
            <legend>团队科研成果</legend>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a href="#team_project-list" class="nav-link active" data-toggle="tab">
                        <i class="glyphicon glyphicon-tasks"></i> 科研项目
                        ({% if 'projects' in team_info %}{{ team_info['projects'] | length }}{% else %}0{% endif %})
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#team_patent-list" class="nav-link" data-toggle="tab">
                        <i class="glyphicon glyphicon-hdd"></i> 发明专利
                        ({% if 'patents' in team_info %}{{ team_info['patents'] | length }}{% else %}0{% endif %})
                    </a>
                </li>
                <li class="nav-item" >
                    <a href="#team_paper-list" class="nav-link" data-toggle="tab">
                        <i class="glyphicon glyphicon-book"></i> 论文成果
                        ({% if 'papers' in team_info %}{{ team_info['papers'] | length }}{% else %}0{% endif %})
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <ul class="tab-pane fade in active show" id="team_project-list">
                    {% if "projects" in team_info %}
                        {% for project in team_info["projects"] %}
                            <li>
                                <div class="d-inline">
                                    <i class="glyphicon glyphicon-tasks"></i> {{ project["project_name"] }}</div>
                                <div class="d-inline">
                                    <span>
                                        {% if project["type"] == 1 %}
                                            自然科学基金
                                        {% elif project["type"] == 2 %}
                                            国家重点研发计划
                                        {% endif %}
                                    </span>
                                    <span>{{ project["belong"] }}</span>
                                    <span>资金:{{ project["money"] }}万元</span>
                                    <span>起始年份:{{ project["start_time"] }}年</span>
                                    <span>负责人:{{ project["name"] }}</span>
                                </div>
                            </li>
                            {% endfor %}
                        {% endif %}
                </ul>
                <ul class="tab-pane fade in" id="team_patent-list">
                    {% if "patents" in team_info %}
                        {% for patent in team_info["patents"] %}
                            <li>
                                <div class="d-inline">
                                    <i class="glyphicon glyphicon-hdd"></i> {{ patent["title"] }}&nbsp;
                                </div>
                                <div class="d-inline">
                                    <span>申报单位: {{ patent["proposer"] }}</span>
                                    <span>{{ patent["date"]}}</span>
                                    <span>发明人: {{ patent["author_list"] }}</span><br>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <ul class="tab-pane fade in" id="team_paper-list">
                     {% if "papers" in team_info %}
                        {% for paper in team_info["papers"] %}
                            <li>
                                <div class="d-inline">
                                    <i class="glyphicon glyphicon-book"></i> 《{{ paper["name"] }}》
                                </div>
                                <div class="d-inline">
                                    <span>{{ paper["year"] }}年 </span>
                                    <span>发表自{{ paper["org"] }}</span>
                                    <span>引用次数：{{ paper["cited_num"] }}</span>
                                    <span>作者:  {{ paper["author"] }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </fieldset>
    </div>

    <!-- 模态框 -->
    <div class="modal fade" id="personalNetworkModal" >
        <div class="modal-dialog" >
            <div class="modal-content">
                <!-- 模态框主体 -->
                <div class="modal-body">
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}