{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block title %}
    专家信息
{% endblock %}

{% block styles %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="../../static/css/autocomplete.css">
    <style>
    .domain{
        padding:1px 10px;
        background: #e9e9e9;
        display: inline-block;
    }
    </style>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row" style="padding-top: 30px;">
            <div class="col-md-8 offset-2">
                {% if cur_type == 'add' %}
                    <h2 class="text-center">添加老师</h2>
                {% else %}
                    <h2 class="text-center">修改老师信息</h2>
                {% endif %}

                <form method="post" class="card-body bg-light" id="teacher-info">
                    {{ form.hidden_tag() }}
                    <div class="form-row">
                        <div class="form-group col">
                            {{ render_field(form.name, class="form-control", placeholder="姓名") }}
                        </div>
                        <div class="form-group col">
                            {{ render_field(form.gender, class="form-control") }}
                        </div>
                        <div class="form-group col">
                            {{ render_field(form.birth_year, class="form-control", placeholder="出生年份") }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">研究领域：</div>
                        <div class="form-group col">
                            <a href="#" onclick="addDomain($(this));" id="add-domain"><i class="mdui-icon material-icons">&#xe146;</i>添加</a>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            {{ render_field(form.school, class="form-control") }}
                        </div>
                        <div class="form-group col">
                            {{ render_field(form.institution, class="form-control") }}
                        </div>
                        <div class="form-group col">
                            {{ render_field(form.department, class="form-control", placeholder="系") }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            {{ render_field(form.title, class="selectpicker form-control") }}
                        </div>
                        <div class="form-group col">
                            {{ render_field(form.honor, class="selectpicker form-control") }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            {{ render_field(form.email, class="form-control", placeholder="邮箱") }}
                        </div>
                        <div class="form-group col">
                            {{ render_field(form.phone_number, class="form-control", placeholder="手机号") }}
                        </div>
                        <div class="form-group col">
                            {{ render_field(form.office_number, class="form-control", placeholder="办公电话") }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            {{ render_field(form.edu_exp, class="form-control", placeholder="教育经历", rows="5") }}
                        </div>
                    </div>
                    <input class="btn btn-primary" onclick="submitData();" type="button" value="提交">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
    <script src="{{ url_for('static', filename='js/agent_feedback.js') }}"></script>
{% endblock %}