{% extends 'base.html' %}

{% block styles %}
<style>
    #container{
        position: absolute;
        top: 120px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    .breadcrumb-nav{
        position: relative;
    }
    
    .edit-institution{
        position: absolute;
        top: 5px;
        right: 0.5rem;
    }
</style>
{% endblock %}


{% block main %}
<div id="container"></div>
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <ol class="breadcrumb">
        {% block breadcrum %}
        {% endblock %}
    </ol>
    {% block editInstitution %}
    {% endblock %}
</nav>
    {% block detail %}
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}

{% endblock %}

