{% extends 'base.html' %}

{% block styles %}
<style>
    #container{
        position: absolute;
        top: 120px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
</style>
{% endblock %}


{% block main %}
<div id="container"></div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% block breadcrum %}
        {% endblock %}
    </ol>
</nav>
    {% block detail %}
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}

{% endblock %}

