{% extends 'school/base.html' %}

{% block title %}
    {{ school }}
{% endblock %}

{% block breadcrum %}
    <input hidden id="cur_school" value="{{ school }}">
    <li class="breadcrumb-item active" aria-current="page">{{ school }}</li>
{% endblock %}


{% block editInstitution %}
    <a href="/school/edit_institution?cur_school={{ school }}" target="_blank" class="edit-institution float-right btn btn-primary">编辑学院</a>
{% endblock %}
{% block detail %}

    <div class="float-right mt-5 mr-5">
        <p>
            <a class="btn btn-link" data-toggle="collapse" href="#object" role="button" aria-expanded="false" onclick="$('#subject').collapse('hide')">客观信息</a>
            <a class="btn btn-link" data-toggle="collapse" href="#subject" aria-expanded="false" onclick="$('#object').collapse('hide')">拜访次数
            </a>
        </p>
        <div class="collapse" id="object">
            <ul class="list-group">
                {% for name, num in objects %}
                    <li class="list-group-item">{{ name }} <span class="badge badge-primary float-right">{{ num }}</span> </li>
                {% endfor %}
            </ul>
        </div>
        <div class="collapse" id="subject">
            <ul class="list-group">
                {% if subjects | length %}
                    {% for name, num in subjects %}
                        <li class="list-group-item">{{ name }} <span class="badge badge-primary float-right">{{ num }}</span> </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">无拜访人员</li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <script src="{{ url_for('static',filename='js/school/school.js') }}"></script>
    <script type="text/javascript">
        $('#object').collapse('toggle');
    </script>
{% endblock %}

