{% extends 'school/base.html' %}

{% block title %}
    {{ school }}-{{ institution }}
{% endblock %}

{% block breadcrum %}
    <li class="breadcrumb-item"><a href="{{ url_for('school.index', school=school) }}">{{ school }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ institution }}</li>
{% endblock %}

{% block detail %}
<div class="float-right mt-5 mr-5">
    <p>
        <a class="btn btn-link" data-toggle="collapse" href="#object" role="button" aria-expanded="false" onclick="$('#subject').collapse('hide')">客观信息</a>
        <a class="btn btn-link" data-toggle="collapse" href="#subject" aria-expanded="false" onclick="$('#object').collapse('hide')">拜访次数
        </a>
    </p>
    <div class="collapse" id="object">
    <ul class="list-group">
        {% for name, num in objects %}
            <li class="list-group-item">{{ name }} <span class="badge badge-primary float-right">{{ num }}</span> </li>
        {% endfor %}
    </ul>
    </div>
    <div class="collapse" id="subject">
    <ul class="list-group">
    {% if subjects | length %}
        {% for name, num in subjects %}
            <li class="list-group-item">{{ name }} <span class="badge badge-primary float-right">{{ num }}</span> </li>
        {% endfor %}
    {% else %}
        <li class="list-group-item">无拜访人员</li>
    {% endif %}
    </ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/school/institution.js') }}"></script>
    <script type="text/javascript">
        let DATA = {{ graph_json | safe }};
        let SCHOOL_NAME= "{{ school }}";
        let INSTITUTION_NAME = "{{ institution }}";
        reloadGraph(DATA);
        $('#object').collapse('toggle');
    </script>
{% endblock %}

