{% extends 'school/base.html' %}

{% block title %}
    {{ school }}-{{ institution }}
{% endblock %}

{% block breadcrum %}
    <input hidden data-school="{{ school }}" data-institution="{{ institution }}" id="info">
    <li class="breadcrumb-item"><a href="{{ url_for('school.index', school=school) }}">{{ school }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ institution }}</li>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/school/institution.js') }}"></script>
{% endblock %}

